*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#071326,#001d3d,#0f62fe);

}

.login-box{

width:420px;

padding:45px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(25px);

border-radius:25px;

box-shadow:0 25px 60px rgba(0,0,0,.4);

color:white;

}

.login-box h1{

margin-bottom:10px;

}

.login-box p{

margin-bottom:35px;

color:#ddd;

}

input{

width:100%;

padding:18px;

margin-bottom:20px;

border:none;

border-radius:12px;

font-size:16px;

}

button{

width:100%;

padding:18px;

background:#00e5ff;

border:none;

font-size:18px;

font-weight:700;

border-radius:12px;

cursor:pointer;

}

.bottom{

margin-top:30px;

text-align:center;

}

.bottom a{

color:#00e5ff;

text-decoration:none;

}

.error{

background:#ff4444;

padding:12px;

margin-bottom:20px;

border-radius:10px;

}